.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .leaflet-container {
    height: 100%;
    width: 100%;
  }
  
  html,
  body,
  main,
  .App,
  #root {
    height: 100%;
  }
  
  .so {
    background-color: white;
    color: red;
    font-size: 2em;
  }
  
  .leaflet-container_old{
    position: 'absolute';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  